/* Breed Page */

.breed-list-item {
  width: 75em;
  margin: 5px;
}

.breed-item {
  display: flex;
  flex-direction: row;
}

.breed-item-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.breed-name {
  font-size: 27px;
}

.breed-search {
  display: flex;
  justify-content: center;
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  border: 2px solid black !important;
  border-radius: 10px !important;
  background-color: white;
}

.breed-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  display: block;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 100vh;
  margin-top: 250px;
}

.modal-images {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.modal-image {
  padding: 0px 5px;
}

#popup-header {
  font-family: "Poppins", sans-serif;
}

#popup-button {
  background-color: #c6e9df;
  color: black;
}

#popup-container {
  background-color: #c6e2e9;
}
