.login-container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.description-container {
  text-align: center;
  padding: 50px;
}

.description-header {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #C6E2E9;
  font-size: 36px;
  margin-bottom: 20px;
}

.description-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.form-container form {
  background-color: #C6E2E9;
  border-radius: 1rem;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.form-container form h2 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

#username, #password {
  border: solid 2px black;
}

.form-input {
  width: 100px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: solid 2px black;
}

.form-container form input[type="submit"] {
  width: 100%;
  padding: 1rem;
  margin-top: 1.5rem;
  background-color: #C6E9DF;
  color: white;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  border: solid 2px black;
}

.form-container form input[type="submit"]:hover {
  background-color: #A1CFDB;
}

.form-button {
  background-color: #C6E9DF;
  border: 2px black;
}