* {
  margin: 0;
  color: #333;
}

.discussion-list-item-class {
  display: flex;
  justify-content: space-between;
  border: solid #85c9d3;
  border-radius: 20px;
  /* padding-left: 15px;
  padding-right: 15px; */
  padding: 10px;
  margin-bottom: 5px;
}

.discussion-list {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

.discussion-container {
  padding: 10px;
  margin-bottom: 5px;
}
