* {
  margin: 0;
  color: #333;
}

.discussion-list-item-class {
  display: flex;
  justify-content: space-between;
  border: solid #85c9d3;
  border-radius: 20px;
  /* padding-left: 15px;
  padding-right: 15px; */
  padding: 10px;
  margin-bottom: 5px;
}

.discussion-list {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

.discussion-container {
  padding: 10px;
  margin-bottom: 5px;
}

/* Map CSS */
.map-page-container {
  display: flex;
  height: 100vh;
}

.map-controls {
  width: 20%;
  padding: 1rem;
  background: #c6e2e9;
  color: #fff;
}

.map-controls input {
  border: none;
}

.map {
  width: 80%;
  height: 100vh;
}

.map-text {
  color: #fff;
}

.map-container {
  width: 100%;
  height: 100vh;
}

.toggle-buttons {
  display: flex;
  margin: 7.5px 0;
  justify-content: center;
  width: 100%;
}
.slider-row {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 7.5px;
}
.slider {
  width: 50%;
}

.slider-value {
  color: #c6e2e9;
  background: #fff;
  border-radius: 15px;
  border-color: #fff;
  margin: 2.5px;
  margin-left: 5px;
  font-size: 12.5px;
  width: 50px;
  padding: 0 2.5px;
  text-align: center;
}

.infobox-buttons {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.navbar {
  background-color: #c6e2e9;
  /* C6D1E9, C6E9DF */
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  height: 100%;
}

/*  */
.blog-post {
  padding: 16px;
  margin: 24px 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: bold;
  color: #3e3e3e;
}

.author {
  color: #8c8c8c;
  font-size: 14px;
  margin-top: 8px;
}

.content {
  font-size: 16px;
  color: #3e3e3e;
}

.date {
  color: #8c8c8c;
  font-size: 12px;
  margin-top: 16px;
}

.comments-list-container {
  width: 80%;
  margin: 50px auto;
}

.comments-list-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.comments-list-scrollable {
  height: 500px;
  overflow-y: scroll;
}

.comment {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.comment-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.comment-author-info {
  display: flex;
  align-items: flex-end;
}
.comment-author {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.comment-date {
  font-size: 16px;
  color: gray;
}

.comment-text {
  font-size: 18px;
  line-height: 1.5;
}
.toggle-button {
  display: flex;
  margin-top: 7.5px;
  justify-content: center;
  width: 100%;
  color: black;
}

/* User Profile */
.profile-page {
  display: flex;
  flex-direction: column;
}

.profile-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5em 0px;
}

.profile-user-info {
  border: solid 2px black;
  padding: 10px;
  margin: 0 20px;
}

/* Carousel */

.page-header {
  margin-left: 5em;
  margin-top: 25px;
}

/* Breed Page */

.breed-list-item {
  width: 75em;
  margin: 5px;
}

.breed-item {
  display: flex;
  flex-direction: row;
}

.breed-item-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.breed-name {
  font-size: 27px;
}

.breed-search {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.breed-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.modal-images {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.modal-image {
  padding: 0px 5px;
}

#popup-header {
  font-family: "Poppins", sans-serif;
}

#popup-button {
  background-color: #c6e9df;
  color: black;
}

#popup-container {
  background-color: #c6e2e9;
}
